@use "../abstracts/" as *;
@use "./align" as *;

@layer Layout.Header {
  .header {
    @include mobile {
    }

    &__inner {
      display: grid;
      grid-template-columns: min-content 1fr min-content;
      align-items: center;
      gap: rem(285);
    }
  }
}
