@use "sass:list";
@use "../abstracts/" as *;

// 버튼 사이즈 정의
$buttonSize: (
  1: (
    "className": ".base",
    "height": 40,
    "fontSize": 16,
    "paddingInline": 25,
    "borderWidth": 1,
    "fontWeight": null,
  ),
);
// 버튼 색상 정의
$buttonColor: (
  1: (
    "className": ".blue",
    "bgColor": #000,
    "color": #fff,
    "borderColor": #000,
  ),
);
// 버튼 아이콘 정의
$buttonIcon: (
  1: (
    "className": ".ico1",
    "direction": after,
    "imgName": "ico_close.svg",
    "width": 12,
    "height": 12,
  ),
  2: (
    "className": ".ico2",
    "direction": after,
    "imgName": "ico_close_white.png",
    "width": 12,
    "height": 12,
  ),
);

@layer Components.Button {
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: rem(8);
    box-sizing: border-box;
    &.fullsize {
      width: 100%;
    }

    // 리스트형 변수(배열)의 갯수에 따라 파악하는 length 함수를 추가
    @for $idx from 1 through list.length($buttonSize) {
      @include buttonSize($buttonSize, $idx);
    }

    @for $index from 1 through list.length($buttonColor) {
      @include buttonColor($buttonColor, $index);
    }

    @for $index from 1 through list.length($buttonIcon) {
      @include buttonIcon($buttonIcon, $index);
    }
  }
  .btn-sitemap {
    @include background("ico_menubar.svg");
    width: rem(24);
    height: rem(24);
    // body:has(#sitemap:popover-open) & {
    //   @include background("ico_close_menu.svg");
    // }
  }
  .btn-close {
    @include background("ico_close_menu.svg");
    width: rem(24);
    aspect-ratio: 1;
  }
  .btn-search {
    @include mobile {
      display: none;
    }
    @include background("ico_search.svg");
    width: rem(24);
    height: rem(24);
  }
  .btn-user {
    @include mobile {
      display: none;
    }
    @include background("ico_user.svg");
    width: rem(24);
    height: rem(24);
  }
  .cart {
    display: flex;
    align-items: center;
    gap: rem(5);
    &-btn {
      @include background("ico_cart.svg");
      width: rem(24);
      height: rem(24);
    }
    &-count {
      color: #fff;
      font-family: Inter;
      font-size: rem(12);
      font-weight: 700;
      line-height: 1rem;
      text-align: center;
      padding: rem(5) rem(6);
      background-color: #141718;
      border-radius: rem(1000);
    }
  }
}
