@use "../abstracts/" as *;

.logo {
  color: #000;
  font-family: Poppins;
  font-size: rem(24);
  font-weight: 500;
  line-height: 120%;
  text-align: center;

  @include mobile {
    font-size: rem(16);
    line-height: 120%;
  }
}
