@use "../abstracts/" as *;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap")
layer(CDNFont);

@layer Typography {
  html {
    font-size: 62.5%;
    // @include mobile {
    //   $baseSize: 62.5% / 2;
    //   font-size: $baseSize;
    // }
  }
  body {
    font-size: 1rem;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}
