@use "./background" as *;
@use "../function" as *;

@mixin notificationColor($varName, $index) {
  $item: map-get($varName, $index);
  &#{map-get($item, className)} {
    background-color: map-get($item, "bgColor");
    color: map-get($item, "color");

    // map-has-key :($map : 검색하려는 맵 , $key : 맵에서 확인하려는 키)
    // map-has-key = 지정된 맵에 특정 키가 존재하는지 확인하는데 사용
    a {
      @if map-has-key($item, "linkColor") {
        color: map-get($item, "linkColor");
        border-bottom: rem(1) solid map-get($item, "linkColor");
      } @else {
        color: inherit;
      }
    }
  }
}

@mixin notificationIcon($varName, $index) {
  &#{map-get($varName,$index, className)} {
    &::#{map-get($varName, $index, direction)} {
      @include background(map-get($varName, $index, imgName));
      content: "";
      width: rem(map-get($varName, $index, width));
      height: rem(map-get($varName, $index, height));
    }
  }
}

@mixin notificationLinkArrow($varName, $index) {
  &#{map-get($varName,$index, className)} {
    &::#{map-get($varName, $index, direction)} {
      @include background(map-get($varName, $index, imgName));
      content: "";
      width: rem(map-get($varName, $index, width));
      height: rem(map-get($varName, $index, height));
    }
  }
}
